.banner {
  margin-bottom: 20px;
  padding: 0.625rem 1.25rem;
  border-bottom: 0.125rem solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__wrapper {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__wrapper div {
  display: flex;
  align-items: center;
}
.banner__wrapper div img {
  margin-right: 0.438rem;
  transform: translateY(3px);
}
.banner__wrapper div a {
  color: #333333;
  text-decoration: none;
  transition: color 0.2s ease;
}
.banner__wrapper div a:not(:last-child) {
  margin-right: 0.9375rem;
}
.banner__wrapper div a:hover, .banner__wrapper div a:focus {
  color: #e11c4b;
}
@media (max-width: 1280px) {
  .banner__wrapper {
    width: 90vw;
  }
}
@media (max-width: 428px) {
  .banner {
    display: none;
  }
}

.header {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
@media (max-width: 428px) {
  .header__navbar {
    margin-top: 20px;
  }
}
.header__logo {
  font-family: "Rosario", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #e11c4b;
  text-decoration: none;
  letter-spacing: 5px;
}
.header__search {
  flex: 1;
  margin-left: 55px;
  position: relative;
}
.header__search input {
  width: 95%;
  padding: 10px 20px 10px 48px;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #dddddd;
  border-radius: 20px;
  outline: none;
  transition: all 0.2s ease;
}
.header__search input:focus {
  border-color: #e11c4b;
}
.header__search input:focus::placeholder {
  color: transparent;
}
.header__search img {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #e11c4b;
}
@media (max-width: 428px) {
  .header__search {
    order: 3;
  }
}
.header__navlinks {
  display: flex;
  gap: 1.5rem;
}
.header__navlinks a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333333;
  transition: all 0.2s ease;
}
.header__navlinks a:hover, .header__navlinks a:focus {
  color: #e11c4b;
}
.header__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
.header__categories a {
  color: #333333;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.2s ease;
  text-wrap: nowrap;
}
.header__categories a:hover, .header__categories a:focus {
  color: #e11c4b;
}
@media (max-width: 1280px) {
  .header__search {
    margin-inline: 15px;
  }
  .header__navlinks a p {
    display: none;
  }
}

.promo {
  margin-bottom: 5rem;
}
.promo__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 650px;
  margin-bottom: 2rem;
  padding: 2.5rem;
  background: linear-gradient(90deg, #d535e3 0%, #6f74e4 100%);
  border-radius: 1.25rem;
}
.promo__cardtext {
  color: #fff;
}
.promo__cardtext h1 {
  font-size: 3.375rem;
  margin-bottom: 0.625rem;
}
.promo__cardtext p {
  font-size: 2.25rem;
}
.promo__cardimage {
  position: relative;
  width: 350px;
  height: 350px;
}
.promo__cardimage img {
  position: absolute;
  width: 350px;
  max-width: 100%;
  height: 350px;
}
.promo__cardimage img:nth-child(1) {
  z-index: 1000;
  bottom: 35px;
  right: 100px;
}
.promo__cardimage img:nth-child(2) {
  top: 70px;
  right: 100px;
}
.promo__cardimage img:nth-child(3) {
  z-index: 100;
  top: 50px;
  left: 60px;
}
.promo__heading {
  margin-bottom: 1.125rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #333333;
}
.promo__date {
  font-size: 1.375rem;
  color: #939393;
  margin-bottom: 1.5rem;
}
.promo__description {
  font-size: 1.125rem;
  margin-bottom: 0.875rem;
}
@media (max-width: 1280px) {
  .promo__card {
    min-height: 420px;
  }
  .promo__cardtext h1 {
    font-size: 2.25rem;
    margin-bottom: 0.416rem;
  }
  .promo__cardtext p {
    font-size: 1.5rem;
  }
  .promo__cardimage img:nth-child(1) {
    right: 50px;
  }
  .promo__cardimage img:nth-child(2) {
    right: 50px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
}
.footer__wrapper {
  min-width: 60vw;
}
@media (max-width: 1280px) {
  .footer__wrapper {
    width: 90vw;
  }
}
.footer__wrapper img {
  margin-right: 0.438rem;
  transform: translateY(3px);
}
.footer__navcontact {
  display: flex;
  justify-content: space-between;
}
.footer a {
  color: #333333;
  margin-right: 0.9375rem;
  text-decoration: none;
  transition: color 0.2s ease;
}
.footer a:hover, .footer a:focus {
  color: #e11c4b;
}
.footer__copyrightsocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
  color: #8d8d8d;
}
.footer__social {
  display: flex;
}
.footer__social a {
  margin: 0 10px;
  color: #8d8d8d;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #8d8d8d;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
}
.footer__social a:hover, .footer__social a:focus {
  color: #e11c4b;
  border: 1px solid #e11c4b;
}
.footer__copyright {
  font-size: 14px;
}
@media (max-width: 428px) {
  .footer__contact a {
    display: block;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: #06c;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Other */
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.app {
  max-width: 60vw;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .app {
    max-width: 90vw;
  }
}/*# sourceMappingURL=main.css.map */