@import './partials/banner';
@import './partials/header';
@import './partials/promo';
@import './partials/footer';
@import './partials/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: #06c;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Other */
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
}


.app {
  max-width: 60vw;
  margin: 0 auto;
  @media (max-width: 1280px) {
    max-width: 90vw;
  }
}
