@use './variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;

  &__wrapper {
    width: 60vw;

    & img {
      margin-right: 0.438rem;
      transform: translateY(3px);
    }
  }
  &__navcontact {
    display: flex;
    justify-content: space-between;
  }
  & a {
    color: variables.$primary-color;
    margin-right: 0.9375rem;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: variables.$accent-color;
    }
  }
  &__copyrightsocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    color: variables.$secondary-color;
  }
  &__social {
    display: flex;
  }
  &__social a {
    margin: 0 10px;
    color: variables.$secondary-color;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid variables.$secondary-color;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;

    &:hover,
    &:focus {
      color: variables.$accent-color;
      border: 1px solid variables.$accent-color;
    }
  }
  &__copyright {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    &__wrapper {
      width: 90vw;
    }
  }
}
