@use './variables';

.header {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  // Navbar styles
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @media (max-width: 428px) {
      margin-top: 20px;
    }
  }

  &__logo {
    font-family: variables.$font-secondary;
    font-size: 22px;
    font-weight: bold;
    color: variables.$accent-color;
    text-decoration: none;
    letter-spacing: 5px;

    @media (max-width: 428px) {
    }
  }

  &__search {
    flex: 1;
    margin-left: 55px;
    position: relative;

    & input {
      width: 95%;
      padding: 10px 20px 10px 48px;
      font-size: inherit;
      font-family: inherit;
      border: 2px solid #dddddd;
      border-radius: 20px;
      outline: none;
      transition: all 0.2s ease;

      &:focus {
        border-color: variables.$accent-color;

        &::placeholder {
          color: transparent;
        }
      }
    }

    & img {
      position: absolute;
      left: 13px;
      top: 50%;
      transform: translateY(-50%);
      color: variables.$accent-color;
    }
    @media (max-width: 428px) {
      order: 3;
    }
  }

  &__navlinks {
    display: flex;
    gap: 1.5rem;

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: variables.$primary-color;
      transition: all 0.2s ease;

      &:hover,
      &:focus {
        color: variables.$accent-color;
      }

      &:last-child {
        display: none;
      }
    }
  }

  // Categories styles
  &__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
    overflow: hidden;

    & a {
      color: variables.$primary-color;
      text-decoration: none;
      margin-right: 20px;
      transition: color 0.2s ease;
      text-wrap: nowrap;

      &:hover,
      &:focus {
        color: variables.$accent-color;
      }
    }
  }
  @media (max-width: 1280px) {
    &__search {
      margin-inline: 15px;
    }
    &__navlinks a p {
      display: none;
    }
  }
}
