.promo {
  margin-bottom: 5rem;
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 650px;
    margin-bottom: 2rem;
    padding: 2.5rem;
    background: linear-gradient(90deg, #d535e3 0%, #6f74e4 100%);
    border-radius: 1.25rem;

    &text {
      color: white;
    }

    &text h1 {
      font-size: 3.375rem;
      margin-bottom: 0.625rem;
    }

    &text p {
      font-size: 2.25rem;
    }

    &image {
      position: relative;
      width: 350px;
      height: 350px;

      & img {
        position: absolute;
        width: 350px;
        max-width: 100%;
        height: 350px;

        &:nth-child(1) {
          z-index: 1000;
          bottom: 35px;
          right: 100px;
        }

        &:nth-child(2) {
          top: 70px;
          right: 100px;
        }

        &:nth-child(3) {
          z-index: 100;
          top: 50px;
          left: 60px;
        }
      }
    }
  }

  &__heading {
    margin-bottom: 1.125rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #333333;
  }

  &__date {
    font-size: 1.375rem;
    color: gray;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 1.125rem;
    margin-bottom: 0.875rem;
  }
  @media (max-width: 768px) {
    &__card {
      min-height: 420px;

      &text h1 {
        font-size: 2.25rem;
        margin-bottom: 0.416rem;
      }

      &text p {
        font-size: 1.5rem;
      }

      &image {
        & img {
          &:nth-child(1) {
            right: 50px;
          }
          &:nth-child(2) {
            right: 50px;
          }
        }
      }
    }
  }
}
